[submodule "themes/colordrop"]
	path = themes/colordrop
	url = https://github.com/humrochagf/colordrop.git
[submodule "themes/beautifulhugo"]
	path = themes/beautifulhugo
	url = https://github.com/halogenica/beautifulhugo.git
